body {
  font-family: 'Lato', sans-serif;
}

#header {
  text-align: center;
  width: 21%;
  margin-left: 50px;
  margin-bottom: 40px;
  padding: 0 29px;
  float: left;
}

h1 {
  font-size: 84px;
  margin: 10px 0;
}

h2 {
  font-size: 12px;
  font-weight: normal;
  margin: 5px 0;
}

h2 span {
  color: tomato;
  font-weight: bold;
}

#current {
  width: 57%;
  float: left;
  background-color: #FFAA9A;
  border-radius: 5px;
  color: white;
  margin: 0 50px;
  padding: 25px;
}

#current span {
  margin: 0 20px;
  font-size: 38px;
}

#box {
  width: 100px;
  height: 100px;
  background-color: tomato;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}

#box h3 {
  font-size: 16px;
  padding: 30px 0;
  margin: 0;
}

#left {
  width: 21%;
  float: left;
  clear: left;
  color: white;
  background-color: #63B4CF;
  border-radius: 5px;
  margin-left: 50px;
  padding: 29px;
}

#left h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

input[type=text] {
  margin: 5px 0 15px 0;
  padding: 5px;
  border: none;
  border-radius: 2px;
}

input[type=submit] {
  border: none;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
  background-color: #80BBCF;
  color: white;
  border-radius: 2px;
  box-shadow: 3px 4px 0px 0 #31849F;
}

input[type=submit]:hover {
  background-color: #396878;
}

input[type=submit]:active {
  background-color: #105268;
}

::-webkit-input-placeholder {
  color: #31849F;
}

#right {
  width: 57%;
  float: left;
  background-color: #CBF493;
  border-radius: 5px;
  color: rgb(50,50,50);
  margin: 0 50px;
  padding: 25px;
}

table {
  width: 100%;
}

tr:nth-child(even) {
  background-color: #BDF470;
}

th {
  /*height: 30px;*/
}

td {
  padding: 5px 20px;
}

.centered {
  text-align: center;
}