<!DOCTYPE html>
<html ng-app>
<head>
  <title>QApp</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <!-- <link rel="stylesheet" type="text/css" href="css/normalize.css"> -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>

<body ng-controller="QappCtrl">
<div id="main">
  <div id="header">
    <h1>QApp</h1>
    <h2>a general assembly <span>Class 3</span> production</h2>
  </div>

  <div id="current">
    <div id="box"><h3>CURRENT<br>TOPIC</h3></div>
    <span>{{items[0].topic}}</span>
  </div>

  <div id="left">
    <form ng-submit="addItem()">
      <div>
      <h2>Name</h2><input ng-model="newItemName" type="text" size="30" placeholder=" eg: Derek Zoolander">
      </div>
      <div>
      <h2>Topic</h2><input ng-model="newItemTopic" type="text" size="30" placeholder=" eg: Modeling for abo-digitals">
      </div>
      <div>
      <h2>Time</h2><input ng-model="newItemTime" type="text" size="1" placeholder=" ?"> minutes
      </div>
      <input type="submit" value="SUBMIT" />
    </form>
  </div>
  
  <div id="right">

    <table cellspacing="0">
    <tr>
      <th>Name</th>
      <th>Topic</th>
      <th>Estimated Time</th>
      <th>Done?</th>
    </tr>
    <tr ng-repeat="item in items">
      <td>{{item.name}}</td>
      <td>{{item.topic}}</td>
      <td class="centered">{{item.time}}</td>
      <td class="centered"><input type="checkbox" ng-model="item.done" ng-checked="removeItem()"></td>
    </tr>
    </table>
  
  </div>

</div>
</body>
</html>